.header {
    // background-color: var(--accent-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
}

.texts {
    display: flex;
    align-items: flex-end;
    gap: 80px;
}

.header .clickable {
    cursor: pointer;
    transition: color 0.3s;
}

.header .clickable:hover {
    color: var(--bg-sec-color);
}