<div 
class="day" 
[style.border]="isToday() ? '3px solid var(--primary-color)' : 'none'"
(mouseenter)="onMouseEnter()"
(mouseleave)="onMouseLeave()"
(click)="onMouseClick()"
>
    @for(habit of completedHabits(); track habit) {
        <div class="completed-habit" [style.background-color]="habit.colorHex" [style.width]="getHabitWidthPercentage()"></div>
    }

</div>
@if (showTooltip() && completedHabits().length > 0) {
    <div class="habit-tooltip" >
        @for (habit of completedHabits(); track habit) {
            <div class="tooltip-row">
                <span class="dot" [style.background-color]="habit.colorHex"></span>
                <span class="name">{{ habit.name }}</span>
            </div>
        }
    </div>
}

@if (dialogOpen()) {
    <app-habit-day-dialog
        [date]="dayDate()"
        [habits]="this.habitService.habits()"
        [selectedIds]="getCompletedHabitsIds()"
        (closed)="onDialogClosed($event)"
    />
}