/* Light mode defaults */
:root {
  --bg-color: #ffffff;
  --bg-sec-color: #d0cdcd;
  --text-color: #272727;
  --primary-color: #6d6d6d;  /* Indigo-like */
  --accent-color: #e91e63;   /* Pink-like */
  --warn-color: #f44336;
  --grid-border: #bbbbbb;
  --button-bg: var(--primary-color);
  --button-text: #ffffff;
  --input-bg: #f5f5f5;
  --input-border: #ccc;
  --modal-bg: #ffffff;
}

/* Dark mode overrides */
.dark-mode {
  --bg-color: #121212;
  --bg-sec-color: #333333;
  --text-color: #ffffff;
  --primary-color: #939393;  /* Blue-grey */
  --accent-color: #ffc107;   /* Amber */
  --warn-color: #f44336;
  --grid-border: #424242;
  --button-bg: var(--primary-color);
  --button-text: #ffffff;
  --input-bg: #333333;
  --input-border: #555555;
  --modal-bg: #1e1e1e;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}